.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  min-width: 1000px;
}

.servicesDone, .conversions {
  background: #fff;
  border-radius: 8px;
  padding: 32px;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #232d42;
  line-height: 175%;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Circular Std', sans-serif;
  font-size: 16px;
  font-weight: 450;
  color: #8a92a6;
  cursor: pointer;
}

.dropdown img {
  width: 24px;
  height: 24px;
}

.serviceContent {
  display: flex;
  flex-direction: row;
  gap: 37px;
  align-items: center;
}

.pieChart {
  width: 206px;
  height: 206px;
}

.pieChart img {
  width: 100%;
  height: 100%;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.legendItem {
  display: flex;
  gap: 24px;
  align-items: center;
}

.shortDot, .longDot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.shortDot {
  background: #3a57e8;
}

.longDot {
  background: #85f4fa;
}

.legendText {
  display: flex;
  flex-direction: column;
}

.legendText span:first-child {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #8a92a6;
  line-height: 175%;
}

.value {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #232d42;
  line-height: 175%;
}

.chartArea {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}

.yAxis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  font-size: 13px;
  color: #232d42;
  height: 213px;
}

.barChart {
  flex-grow: 1;
  height: 192px;
}

.barChart img {
  width: 100%;
  height: 100%;
}

.xAxis {
  display: flex;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  font-size: 13px;
  color: #232d42;
  margin-top: 12px;
  gap: 40px;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    min-width: auto;
  }
  
  .serviceContent {
    flex-direction: column;
  }
}

