.container {
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 100vh;
}

.sidebar {
  flex-grow: 0;
  width: 220px;
  height: 100vh;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.header {
  flex-grow: 0;
  width: 100%;
  height: auto;
}

.filters {
  flex-grow: 0;
  width: 100%;
  height: auto;
}

.table {
  flex-grow: 1;
  width: 100%;
  height: auto;
}

.pagination {
  flex-grow: 0;
  width: 100%;
  height: auto;
}

