/* .carousel-container-Big{
  width: 100%;
  align-items: center;
}



.carousel-container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
} */
.carousel-container-Big {
  display: flex;
  justify-content: center;
  align-items: center;
 
  padding-top: 30px;
}

.carousel-container {
  width: 80%; /* Adjust the width as needed */
  max-width: 1200px; /* Optional: set a max width */
}   

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.slick-dots .slick-active button:before {
  color: orange;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 40px;
  border-radius:50px;
}

.text-content {
  max-width: 50%;
}

.text-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.shop-now {
  display: inline-block;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin-top: 10px;
}

img {
  width: 250px;
  object-fit: contain;
}